*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: radial-gradient(#1b0145,#090016);
}
#gameContainer{
    text-align: center;
}
#gameBoard{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid;
}
#scoreText{
    font-family: "Permanent Marker", cursive;
    font-size: 100px;
}
#resetBtn{
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}